 /* form.css */

div.welcome {
   width: 100%;
   text-align: center;
}
div.install_explanation {
   width: 100%;
   text-align: center;
}
div#install_form {
   width: 96%;
   min-width: 320px;
   margin: auto;
   text-align: center;
}
@media only screen and (min-width: 600px) {
   div#install_form {
      width: 100%;
      min-width: 400px;
      padding-left: calc(0.2 * (100% - 600px));
      text-align: center;
   }
}
@keyframes slidein {
   from {
      opacity: 0.2;
      margin-left: 100%;
   }
   to {
      opacity: 1;
      margin-left: 0;
   }
}
@keyframes slideout {
   from {
      opacity: 1;
      margin-left: 0;
   }
   to {
      opacity: 0;
      margin-left: -100%;

   }
}
form.slidein {
   width: 100%;
   max-width: 600px;
   margin-left: 0;
   animation: slidein 500ms ease-out 0s 1 normal forwards running;
}
form.slideout {
   width: 100%;
   max-width: 600px;
   margin-left: 0;
}
div.slidein {
   width: 100%;
   max-width: 600px;
   margin-left: 0;
   animation: slidein 500ms ease-out 0s 1 normal forwards running;
}
form > div > ul {
   list-style-type: none;
   padding: 0px 0px 0px 0px;
}
form > div > ul > li {
   margin: 4px 4px 8px 4px;
}
form > div > ul > li:nth-child(even) {
   margin-left: 30px;
   margin-bottom: 18px;
}
form > div > ul > li:last-child {
   margin: 4px 4px 80px 30px;
}
form > div > ul.final > li:last-child {
   margin: 40px 0px 40px 0px;
}
input[type="text"] {
   border: 1px solid #CCCCCC;
   background-color: #F3F3F3;
   box-shadow: 0px 2px 4px 0px #999999;
   border-radius: 3px;
   min-width: 180px;
}
input[type="radio"] {
   border: 1px solid #CCCCCC;
   background-color: #F3F3F3;
   box-shadow: 0px 2px 4px 0px #999999;
   border-radius: 3px;
   width: 16px;
}
input[type="radio"]:nth-child(even) {
   margin-left: 30px;
}
input[type="submit"] {
   border: 1px solid #3CBC8D;
   background-color: #3CBC8D;
   box-shadow: 0px 2px 4px 0px #999999;
   border-radius: 3px;
   width: 120px;
   height: 30px;
   color: rgba(255, 255, 255, 0.9);
   font-weight: bold;
   cursor: pointer;
}
img.psw {
   cursor: pointer;
}
p.form_error {
   color: #EE0000;
}