 /* main.css */

html {
   font-size: 100%;
}
body {
   margin: 0px 0px 0px 0px;
   width: 100%;
   color: #606060;
   font-size: 1em;
   text-shadow: 1px 2px 3px #BBBBBB;
}
img {
   border-width: 0px 0px 0px 0px;
   border-style: none;
}
a {
   color: #3366ff;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
h1 {
   font-size: 1.4em;
   padding: 1em 0em 1em 0em;
}
h2 {
   font-size: 1.1em;
   padding: 0.4em 0em 0.8em 0em;
}
div#title {
   width: 100%;
   height: 120px;
   text-align: center;
   background-color: #E8F0FF;
   overflow: hidden;
}
div#logon {
   width: 100%;
   background-color: #E8F0FF;
   border-style: solid;
   border-color: #000000;
   border-width: 1px 0px 1px 0px;
}
div#logon > div {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   position: relative;
   left: 80px;
   min-height: 36px;
   width: calc(100% - 80px);
}
div#logon > div > div {
   padding-top: 4px;
   padding-bottom: 6px;
}
form.header {
   display: inline-block;
   white-space: nowrap;
}
form.header > input[type="text"] {
   border: 1px solid #CCCCCC;
   background-color: #F3F3F3;
   box-shadow: 0px 2px 4px 0px #999999;
   border-radius: 3px;
   width: 37%;
   max-width: 130px;
}
form.header > input[type="password"] {
   border: 1px solid #CCCCCC;
   background-color: #F3F3F3;
   box-shadow: 0px 2px 4px 0px #999999;
   border-radius: 3px;
   width: 37%;
   max-width: 130px;
}
img.psw {
   position: relative;
   left: -18px;
   top: 3px;
   margin-right: -8px;
   cursor: pointer;
}
form.header > select {
   height: 21px;
   margin: 0px 8px 0px 0px;
   padding: 0px 0px 2px 0px;
   border: 1px solid #CCCCCC;
   background-color: #F3F3F3;
   box-shadow: 0px 2px 4px 0px #999999;
   border-radius: 3px;
   cursor: pointer;
}
form.header > input[type="submit"] {
   border-radius: 3px;
   width: 30px;
   height: 20px;
   margin: 0px 8px 0px 0px;
   padding: 0px 2px 2px 0px;
   color: rgba(255, 255, 255, 0.9);
   border: 1px solid #3CBC8D;
   background-color: #3CBC8D;
   box-shadow: 0px 2px 4px 0px #999999;
   cursor: pointer;
}
div#logon > div > p {
   display: inline-block;
   margin: 0px 16px 0px 8px;
   font-size: 0.9em;
   padding-top: 2px;
}
input#menu-trigger {
   position: absolute;
   top: 0px;
   left: 0px;
   visibility: hidden;
   z-index: -1;
}
div#menu {
   position: fixed;
   left: -330px;
   top: 0px;
   max-width: 320px;
   background-color: #E8E8E8;
   box-shadow: 10px 0px 10px #666666;
   overflow: hidden;
   z-index: 1;
   transition: left 1s ease-out;
}
input#menu-trigger:checked ~ div#menu {
   left: 0px;
}
div#iconmenu1 {
   position: absolute;
   top: 122px;
   left: 6px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   background-color: #D3D3D3;
   box-shadow: 0px 2px 4px 0px #999999;
   border-radius: 5px;
   border-color: #999999;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
   transition: box-shadow 0.25s ease;
}
div#iconmenu1:hover {
   background-color: #E2E2E2;
}
div#iconmenu1:active {
   box-shadow: 0px 2px 4px 0px;
}
div#iconmenu2 {
   float: right;
   width: 22px;
   height: 18px;
   margin: 3px 3px 0px 0px;
   padding: 0px 0px 4px 1px;
   text-align: center;
   background-color: #D3D3D3;
   box-shadow: 0px 2px 4px 0px #999999;
   border-radius: 5px;
   border-color: #999999;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
   transition: box-shadow 0.25s ease;
}
div#iconmenu2:hover {
   background-color: #E2E2E2;
}
div#iconmenu2:active {
   box-shadow: 0px 2px 4px 0px;
}
div#listmenu {
   margin-top: 40px;
   height: 100vh;
   width: 100%;
}
div#listmenu > ul {
   margin: 0px 0px 0px 0px;
   padding: 0px 2px 0px 2px;
   min-width: 160px;
   text-align: center;
   list-style-type: none;
}
div#listmenu > ul > li {
   margin: -1px 0px 0px 0px;
   padding: 5px 0px 10px 0px;
   width: calc(100% - 2px);
   background-color: #D3D3D3;
   border-radius: 5px;
   border-color: #999999;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
   border-collapse: collapse;
}
div#listmenu > ul > li:hover {
   background-color: #E2E2E2;
   cursor: pointer;
}
label.menu {
   display: inline-block;
   margin: 0px 0px 0px 0px;
   color: #606060;
}
div#iconmenu2 > label.menu {
   height: 22px;
   width: 22px;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
label.menu:hover {
   cursor: pointer;
}
div#main {
   width: 100%;
   overflow: hidden;
}
div#footer {
   width: 100%;
   height: 80px;
   background-color: #F4F9FF;
}
